<div id="partenaires" class="bc-grey" style="padding:10px 0px 20px 0px;">
        <div class="container">
             <div class="col-lg-12 text-center">
           <p>Cet événement est organisé avec le soutien de</p> 
           <p><a href="https://www.paymium.com" target="_blank"><img src="../css/2024_style/img/paymium_logo.png" width="250px" style="margin-bottom: 5px;"></a>
         </p>
         <p>et</p>
         <p>
           <a href="https://wallcrypt.com" target="_blank"><img src="../css/2024_style/img/wall_logo.jpg" width="180px"></a></p>
            </div>
           
                
            </div>
        </div>
    </div>
