 <!-- Portfolio Modals -->
 
    <div class="portfolio-modal modal fade" id="Theseus_King" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Theseus King</h2>
                            <hr class="star-primary">
                            <!--<img src="" class="img-responsive img-centered" alt="">-->
                            <h3>Jeune artiste français basé aux Etats-Unis</h3>
                            <p>Cet artiste qui cultive la discrétion s’est inspiré des pionniers du numérique qui ont décidé de réinventer les codes de l’art. Theseus King recoure à l’art génératif pour créer des œuvres d’un genre nouveau.
                            <h5>Définition de l’Art génératif:</h5>
                            <p>L’art génératif consiste à créer une œuvre d’art en utilisant un programme informatique, écrit et mis au point par l’artiste.<br>Toutes les disciplines sont concernées: les arts visuels, la musique, la littérature mais aussi le designet l’architecture.</p>
                            <p>Theseus King créé des œuvres à collectionner, des labyrinthes, des courbes et autres objets mathématiques qui décrivent le réel..</p>
                            <p>Les cloisons et les passages dans les labyrinthes de l’artiste sont générés grâce à l’algorithme «Aldous Broder» du nom des deux chercheurs qui l’ont inventé. David Aldous est professeur d’informatique à l’université de Berkeley et Andrei Broder fait de la recherche en informatique chez Google en tant que “distinguished scientist”. Pour créer ses labyrinthes, Theseus King s’est appuyé aussi sur les travaux de Jamis Buck, expert en informatique, algorithmique et bien d’autres sujets, basé aux Etats-Unis.</p>
                            <p>Pour la couleur, un autre algorithme est mis en oeuvre afin que les cellules les plus éloignées du centre soient plus sombres, si bien que le chemin le plus court depuis la prériphérie jusqu’au centre du labyrinthe se trouve être le chemin le plus clair.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

