<!DOCTYPE html>
<html>

  {% include 2024_data/head.html %}


    <body id="page-top" class="index">

    {% include 2024_data/nav.html %}

    <!-- Hero <div class="container">   -->
  

 <header>


        <div class="container">
             
           <div class="intro-text">
             <img src="../css/2024_style/img/logo-hero.png">
            </div>

            <a href="https://my.weezevent.com/bitcoinference-marseille" target="_blank" class="page-scroll btn btn-xl" style="margin-top: 70px;">Réserver</a>
        
     </header>

    {% include 2024_data/intro.html %}
    {% include 2024_data/speakers.html %}
    {% include 2024_data/programme.html %}
    {% include 2024_data/acces.html %}
    {% include 2024_data/contact.html %}
    {% include 2024_data/partenaires.html %}
    {% include 2024_data/footer.html %}
    {% include 2024_data/speakers_info.html %}
    {% include 2024_data/artist_info.html %}
    {% include 2023_data/js.html %}
<!-- </div> -->
    </body>
</html>